body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.display {
  background: #000;
  color: white;
  text-align: right;
  padding: 20px;
  font-size: 2rem;
  word-wrap: break-word;
  min-height: 80px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button {
  height: 50px;
  border: none;
  background-color: #1c1c1c;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #333;
}

.btn-num {
  background-color: #060606;
  font-weight: bold;
  font-size: 1.3rem;
}
.btn-op {
  background-color: #1c1c1c;
}
.btn-equals {
  background-color: #4cc2ff;
  color: black;
}

.span-two {
  grid-column: span 4;
  background-color: #252525;
  margin-bottom: 10px;
}

/* إخفاء الأزرار العلمية افتراضياً */
.scientific-keys {
  display: none;
  grid-column: span 4;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

/* عندما تكون الآلة في الوضع العلمي */
.calculator.scientific-mode .scientific-keys {
  display: grid;
}

.calculator.scientific-mode {
  width: 450px; /* توسيع الآلة قليلاً في الوضع العلمي */
}
